// Typography
//
// Typography scale is very important for consistency. Habanero implements the Major Third (1.250) scale. Visit [Type Scale](http://type-scale.com/?size=14&scale=1.250&text=A Visual Type Scale&webfont=Libre+Baskerville&font-family='Libre Baskerville', serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333) for more information.
//
// Styleguide 2
@mixin header {
  margin-bottom: 0.5em;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  color: inherit;
}

& {
  font-family: map-get($FONT, family);
  font-size: map-get($FONT, size);
  font-weight: map-get($FONT, weight);
  line-height: map-get($FONT, height);
  color: map-get($FONT, color);
}

// Base
//
// Markup:
// <h1>Header 1</h1>
// <h2>Header 2</h2>
// <h3>Header 3</h3>
// <h4>Header 4</h4>
// <small>Small</small>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
//
// Styleguide 2.1
@at-root #{&}#{&} p {
  margin-bottom: 1em;
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
  color: inherit;
}

// Utilities
//
// Useful classes to modify your type
//
// Styleguide 2.2

// Sizing
//
// Sometimes it doesn't make sense to put an `<h1>` in the middle of a document but you still want to have your text to be the same size as one. Here are some classes that will help you resize the text of any tag.
//
// Markup:
// <p class="{{modifier_class}}">Regular paragraph</p>
//
// .h1    - Header 1 Size
// .h2    - Header 2 Size
// .h3    - Header 3 Size
// .h4    - Header 4 Size
// .small - Small size
//
// Styleguide 2.2.1
h1,
.h1 {
  @include header;
  font-size: 2.441em;
}

.h1 {
  display: block;
}

@at-root #{&}#{&} h2 {
  @include header;
  overflow: visible;
  padding: 0;
  border: none;
  font-size: 1.953em;
  font-style: inherit;
}

.h2 {
  @include header;
  font-size: 1.953em;
  display: block;
}

h3,
.h3 {
  @include header;
  font-size: 1.563em;
}

.h3 {
  display: block;
}

h4,
.h4 {
  @include header;
  font-size: 1.25em;
}

.h4 {
  display: block;
}

small,
.small {
  font-size: 0.8em;
}
