//
//    DATE UPDATED:    11/10/2015
//    BY:              DIEGO HERNANDEZ
//

.vendor-container {
    .nav {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        overflow: hidden;

        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        & a {
            display: inline-block;
            flex: 1 1 auto;
            padding: 1em;

            text-align: center;
            vertical-align: middle;
            transition: all 200ms;

            &:hover {
                text-decoration: none;
                background: #f1f1f1;
            }
        }
    }
}
