//
//    DATE UPDATED:    11/10/2015
//    BY:              DIEGO HERNANDEZ
//
//    TYPE SCALE USED: 1.250 MAJOR THIRD (http://type-scale.com/?size=14&scale=1.250&text=Spiceworks%20UI%20Kit&webfont=Open%2BSans&font-family=%27Open%20Sans%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333)
//




.text {
  &__left {
    text-align: left;
  }
  &__center {
    text-align: center;
  }
  &__right {
    text-align: right;
  }
  &__uppercase {
    text-transform: uppercase;
  }
  &__lowercase {
    text-transform: lowercase;
  }
  &__bold {
    @include specificity(1) { // level 1 depth because of headers
      font-weight: bold;
    }
  }
}

h2.text__bold {
  @include specificity(2) { // h2 have to have a higher specificity
    font-weight: bold;
  }
}


/* ======= FORMS ====== */
/* ======= MISCELLANEOUS ====== */

.elem {
  &__block {
    display: block;
  }
  &__inline {
    display: inline;
  }
  &__inlineblock {
    display: inline-block;
  }
  &__hidden {
    display: none;
  }
  &__rounded {
    border-radius: 0.2em;
    overflow: hidden;
  }
}
/* ============== TO BE DEPRICIATED ============== */
