$FONT: (
  family: (arial, helvetica, sans-serif),
  size: 14px,
  weight: 300,
  height: 1.45,
  color: #454542
);

$THEME: (
  color: #2080AD,
  radius: 0.2em
);

$GRID: (
  columns: 12,
  gutter: 2%
);
