.sui-opt-in .vendor-container {
  $primary-color: nth(map-values($brand-colors), 1);
  $secondary-color: nth(map-values($brand-colors), 2);
  .font {
    &__primary {
      color: $primary-color;
    }
    &__secondary {
      color: $secondary-color;
    }
  }
  .link {
    &__primary {
      color: $primary-color;
      &:hover {
        color: darken($primary-color, 10%);
      }
    }
    &__secondary {
      color: $secondary-color;
      &:hover {
        color: darken($secondary-color, 10%);
      }
    }
  }
  .btn {
    &__primary {
      background-color: $primary-color;
      color: reverse-color($primary-color);
      &:hover {
        background-color: darken($primary-color, 10%);
      }
      &.btn__gradient {
        background: linear-gradient($primary-color, darken($primary-color, 8%));
        &:hover {
          background: linear-gradient(darken($primary-color, 8%), $primary-color);
        }
      }
    }
    &__secondary {
      background-color: $secondary-color;
      color: reverse-color($secondary-color);
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
      &.btn__gradient {
        background: linear-gradient($secondary-color, darken($secondary-color, 8%));
        &:hover {
          background: linear-gradient(darken($secondary-color, 8%), $secondary-color);
        }
      }
    }
  }
  .background {
    &__primary {
      background-color: $primary-color;
      & * {
        color: reverse-color($primary-color);
      }
    }
    &__secondary {
      background-color: $secondary-color;
      & * {
        color: reverse-color($secondary-color);
      }
    }
  }
  hr.hr {
    &__primary {
      border-top-color: $primary-color;
    }
    &__secondary {
      border-top-color: $secondary-color;
    }
  }
}
