.sui-opt-in .vendor-container {
  $primary-color: nth(map-values($brand-colors), 1);
  $secondary-color: nth(map-values($brand-colors), 2);
  .font {
    &__primary {
      color: $primary-color;
    }
    &__secondary {
      color: $secondary-color;
    }
  }
  .link {
    &__primary {
      color: $primary-color;
      &:hover {
        color: darken($primary-color, 10%);
      }
    }
    &__secondary {
      color: $secondary-color;
      &:hover {
        color: darken($secondary-color, 10%);
      }
    }
  }
  .btn {
    &__primary {
      @include button-colors($primary-color);
      &:hover {
        @include button-colors(darken($primary-color, 10%));
      }
      &.btn__gradient {
        @include button-colors($primary-color, gradient);
        &:hover {
          @include button-colors($primary-color, gradient, reverse);
        }
      }
    }
    &__secondary {
      @include button-colors($secondary-color);
      &:hover {
        @include button-colors(darken($secondary-color, 10%));
      }
      &.btn__gradient {
        @include button-colors($secondary-color, gradient);
        &:hover {
          @include button-colors($secondary-color, gradient, reverse);
        }
      }
    }
  }
  .background {
    &__primary {
      background-color: $primary-color;
      & * {
        color: reverse-color($primary-color);
      }
    }
    &__secondary {
      background-color: $secondary-color;
      & * {
        color: reverse-color($secondary-color);
      }
    }
  }
}
