.nav {
  $parent: &;

  &.background {
    @each $name, $color in $brand-colors {
      &-#{$name} {
        background-color: $color;
        #{$parent}__item {
          &:hover {
            background-color: darken($color, 10%);
            // color: reverse-color($color);
          }
        }
      }
    }
  }
}
