.nav {
  $parent: &;
  @each $name, $color in $brand-colors {
    &__color-#{$name} {
      background: $color;
      #{$parent}--item {
        color: reverse-color($color);
        &:hover {
          background: darken($color, 10%);
          color: reverse-color($color);
        }
      }
    }
  }
}
