.sui-opt-in .vendor-container {
  .list {
    &-nobullet {
      li {
        list-style: none;
      }
    }

    &-bullet {
      li {
        list-style: disc;
      }
    }

    &-number {
      li {
        list-style: decimal;
      }
    }
  }
}
