// Alignment
//
// Align text with ease
//
// Markup:
// <h1 class="{{modifier_class}}">Header</h1>
// <p class="{{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at leo ut arcu fringilla varius. Vestibulum lectus turpis, consectetur sit amet pellentesque non, convallis id purus. Suspendisse suscipit dui lacus, eget finibus nibh aliquet eget.</p>
//
// .left   - Align Left
// .center - Align Center
// .right  - Align Right
//
// Styleguide 2.2.2
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

// Modifiers
//
// Modify your text to suit your design needs
//
// Markup:
// <p class="{{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at leo ut arcu fringilla varius.</p>
//
// .bold  - bold
// .light  - light
// .italic  - italic
// .uppercase  - UPPERCASE
// .lowercase  - lowercase
//
// Styleguide 2.2.3
.bold {
  font-weight: bold;
}

.light {
  font-weight: light;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
