@mixin button-colors($background, $gradient: null, $direction: null) {
    background-color: $background;
    color: reverse-color(darken($background, 10%));

    @if($gradient == gradient) {
        @if ($direction == reverse) {
            background: linear-gradient(darken($background, 8%), $background);
        } @else {
            background: linear-gradient($background, darken($background, 8%));
        }
    }
}

@mixin set-type($src, $type, $exceptions...) {
    @each $prop, $val in map-get($src, $type) {
        @if (index($exceptions, $prop) == null) {
            @if ($prop == color) {
                color: $val;
            } @else {
                font-#{$prop}: #{$val};
            }
        }
    }
    @content;
}

@mixin specificity ($level: null) {
  @if $level == 1 {
    @at-root .vendor-container & {
      @content;
    }
  } @elseif $level == 2 {
    @at-root .sui-opt-in .vendor-container & {
      @content;
    }
  } @else {
    @content;
  }
}
