//
//    DATE UPDATED:    11/10/2015
//    BY:              DIEGO HERNANDEZ
//    CLIENT:          [CLIENT NAME]
//

$typography: (
    base: (
        family: "'Helvetica Neue', helvetica, arial, sans-serif",
        size: 14px,
        weight: 300,
        color: #666
    ),
    headers: (
        family: "'Helvetica Neue', helvetica, arial, sans-serif",
        weight: 400
    )
);

$colors: (
    "orange": #FF5502,
    "gray": #444
);

$border-radius: 2em;


@import "theme-base";
