.btn {
  border-radius: map-get($THEME, radius);
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  height: auto;
  margin-top: 0.7em;
  margin-bottom: 1.3em;
  padding: 0.5em 1.5em;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
  border: none;
  background: map-get($THEME, color);

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  &:focus {
    border: none;
    outline: auto;
  }

  &.btn__lg {
    font-size: 1.1em;
  }

  &.btn__sm {
    font-size: 0.7em;
  }
}
