.font {
  &__left {
    text-align: left;
  }
  &__center {
    text-align: center;
  }
  &__right {
    text-align: right;
  }

  &__small {
    font-size: 0.8em;
  }
}
.object {
  &__block {
    display: block;
  }
  &__inline {
    display: inline;
  }
  &__inlineblock {
    display: inline-block;
  }
  &__hidden {
    display: none;
  }
}
%list {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding: 0;
  line-height: 1.45em;
}
%bullet-list {
  margin-bottom: 0.8em;
  margin-left: 0;
  padding-left: 0.5em;
}
%no-list {
  margin-bottom: 0.8em;
  margin-left: -2em;
}
ul {
  @extend %list;
  &.list__bullet {
    li {
      @extend %bullet-list;
      list-style: disc;
    }
  }
  &.list__nobullet {
    li {
      @extend %no-list;
      list-style: none;
    }
  }
}
ol {
  @extend %list;
  &.list__bullet {
    li {
      @extend %bullet-list;
      list-style: decimal;
    }
  }
  &.list__nobullet {
    li {
      @extend %no-list;
      list-style: none;
    }
  }
}


.grid-container {
  .col-right {
    float: right;
  }
  .col-left {
    float: left;
  }

  .grid-row:after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
  }



  @for $i from 1 through map-get($GRID, columns) {
    .col-#{$i} {
      width: 100% / map-get($GRID, columns) * $i - map-get($GRID, gutter);
    }

    .col-push-#{$i} {
      margin-left: 100% / map-get($GRID, columns) * $i;
    }

    .col-pull-#{$i} {
      margin-right: 100% / map-get($GRID, columns) * $i;
    }
  }
  @for $i from 1 through 5 {
    .col-push-5-#{$i} {
      margin-left: 100% / 5 * $i;
    }

    .col-pull-5-#{$i} {
      margin-right: 100% / 5 * $i;
    }
  }
}
