// Navigation
//
// This component will help you create a navigation block with propotionally sized links.
//
// Markup:
// <nav class="nav">
//   <a href="#" class="nav__item">Link 1</a>
//   <a href="#" class="nav__item">Link 2</a>
//   <a href="#" class="nav__item">Link 3</a>
//   <a href="#" class="nav__item">Link 4</a>
// </nav>
//
// Styleguide 3
.nav {
  @include specificity(2) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    &__item {
      display: inline-block;
      flex: 1 1 auto;
      padding: 1em;

      text-align: center;
      vertical-align: middle;
      transition: background-color 150ms;

      &:hover {
        text-decoration: none;
        background-color: #f1f1f1;
      }
    }
  }
}
