.nav {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    &__item {
        display: inline-block;
        flex: 1 1 auto;
        padding: 1em;

        text-align: center;
        vertical-align: middle;
        transition: background-color 150ms;

        &:hover {
          @include specificity(1) {
            text-decoration: none;
          }
            background-color: #f1f1f1;
        }
    }
}
