.vendor-container {
  @include set-type($typography, base);
}

p,
ul,
ol,
label {
  @include specificity(1) {
    @include set-type($typography, base, size) {
      font-size: 1em;
    }
  }
}

h1,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @include specificity(1) {
    @include set-type($typography, headers, size) {
      color: $text-color;
    }
  }
}

h2 {
  @include specificity(2) {
    @include set-type($typography, headers, size) {
      color: $text-color;
    }
  }
}
