//
    DATE UPDATED:    11/04/2015
    BY:              DIEGO HERNANDEZ

.sui-opt-in
    .vendor-container
        .nav
            +display(flex)
            +flex-direction(row)
            +justify-content(space-around)
            +align-items(stretch)
            +padding(0)
            +margin(0)
            flex-wrap: nowrap
            box-sizing: border-box

            & > *
                +flex(1 1 auto)
                +transition(all 200ms)
                padding: 1em

                text-align: center
                vertical-align: middle
                &:hover
                    color: inherit
                    text-decoration: inherit
                    background: rgba(black, .1)
