//
    DATE UPDATED:    11/10/2015
    BY:              DIEGO HERNANDEZ

    TYPE SCALE USED: 1.250 MAJOR THIRD (http://type-scale.com/?size=14&scale=1.250&text=Spiceworks%20UI%20Kit&webfont=Open%2BSans&font-family=%27Open%20Sans%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333)

$theme-color: #4385d0

.sui-opt-in
    .vendor-container
        font-family: Arial, Helvetica, sans-serif
        font-size: 14px
        line-height: 1.45em

        /* ======= TYPOGRAPHY ====== */
        p
            margin-bottom: 1em

            font-family: Arial, Helvetica, sans-serif
            font-size: 100%
            line-height: 1.45em

        %h
            margin-bottom: .5em

            font-family: Arial, Helvetica, sans-serif
            font-weight: normal
            line-height: 1.2em

        h1
            @extend %h
            font-size: 2.441em

        h2
            @extend %h
            display: block
            height: initial
            overflow: visible
            padding: 0

            border: none

            font-size: 1.953em
            font-style: normal
            font-weight: normal

            color: #000000

        h3
            @extend %h
            font-size: 1.563em

        h4
            @extend %h
            font-size: 1.25em

        small, .font__small
            font-size: 0.8em

        a
            text-decoration: none
            +link-color($theme-color)

            &:hover
                text-decoration: underline

        .text
            &__left
                text-align: left

            &__center
                text-align: center

            &__right
                text-align: right

            &__uppercase
                text-transform: uppercase

            &__lowercase
                text-transform: lowercase

        /* ======= LISTS ====== */
        %list
            margin-top: 1em
            margin-bottom: 1em
            margin-left: 2em
            padding: 0
            line-height: 1.45em

        %bullet-list
            margin-bottom: .8em
            margin-left: 0em
            padding-left: .5em

        %no-list
            margin-bottom: .8em

        ul
            @extend %list
            &.list__bullet
                li
                    @extend %bullet-list
                    list-style: disc

            &.list__nobullet
                li
                    @extend %no-list
                    list-style: none

            &.list__line
                border-left: .25em solid #000
                li
                    @extend %bullet-list
                    list-style: none

        ol
            @extend %list
            &.list__bullet
                li
                    @extend %bullet-list
                    list-style: decimal
            &.list__nobullet
                li
                    @extend %no-list
                    list-style: none

        /* ======= BUTTONS ====== */
        .btn
            +border-radius(.2em)
            box-sizing: border-box
            display: inline-block
            height: auto
            margin-top: .7em
            margin-left: .3em
            margin-bottom: 1.3em
            padding: .5em 1.5em

            font-size: 1em
            line-height: 1.5em
            text-decoration: none

            border: none
            +btn-color($theme-color, #FFF)

            cursor: pointer

            &:hover
                text-decoration: none

            &.btn__lg
                font-size: 1.1em

            &.btn__sm
                font-size: 0.7em
        /* ======= FORMS ====== */
        label
            @extend %h
            font-size: 1em

        input, select
            margin-bottom: 1em

        input
            &[type="radio"], &[type="checkbox"]
                margin-right: .3em
                margin-top: .7em

        %text-input
            +border-radius(.2em)
            +box-shadow(0 0 0 transparent)
            box-sizing: border-box
            height: 2em

            padding: .3em

            font-family: Arial, Helvetica, sans-serif
            font-size: 1em
            line-height: 1.45em

            background-color: #FFFFFF
            border: 1px solid #D4D4D4
            color: #000000

        select
            @extend %text-input

        input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="color"]):not([type="hidden"]):not([type="range"]):not([type="image"]):not([type="reset"]):not([type="radio"])
            @extend %text-input

        /* ======= MISCELLANEOUS ====== */
        hr
            margin-top: 1.1em
            margin-bottom: 1.1em

            border: 0
            border-top: 1px solid #000000

        .elem
            &__block
                display: block

            &__inline
                display: inline

            &__inlineblock
                display: inline-block

            &__hidden
                display: none
            &__rounded
                +border-radius(.2em)
                overflow: hidden




        /* ============== TO BE DEPRICIATED ============== */
        .font
            &__left
                text-align: left

            &__center
                text-align: center

            &__right
                text-align: right
